<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Ordered at: <%= @order.created_at.strftime("%B %d, %Y %I:%M %p") %></h5>
    <p class="mb-0">Order Status: <%= @order.status %></p>
    <p class="mb-0">Payment Mode: <%= @payment.payment_mode %></p>
    <p class="mb-0">Payment Status: <%= @payment.payment_status %></p>
  </div>
  <div class="card-body">
    <div class="row">
      <% @order_with_product_details.each do |orders_product| %>
        <div class="col-md-4 mb-3">
          <div class="media">
            <%= image_tag (orders_product.product.image.attached?) ? (orders_product.product.image) : ('products/product-default-image.jpeg'), alt: "Image not found", class: "mr-3", style: "width: 100px; height: 100px;" %>
            <div class="media-body">
              <h6 class="mt-0"><%= link_to orders_product.product.name, product_path(orders_product.product) %></h6>
              <p class="mb-0">Price: <%= number_to_currency(orders_product.product_unit_price, unit: "₹", format: "%u %n") %></p>
              <p class="mb-0">Quantity: <%= orders_product.product_quantity %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to "All orders", orders_path, class: "btn btn-primary" %>
  </div>
</div>
