<div class="container mt-5">
  <h1>Your Addresses</h1>

  <% unless @addresses.empty? %>
    <div class="mb-4">
      <p>Welcome <%= current_user.name %>. See all your addresses.</p>
    </div>

    <ul class="list-group">
      <% @addresses.each do |address| %>
        <li class="list-group-item <%= 'bg-warning' if address == @default_address %>">
          <div>
            <strong>Street:</strong> <%= address.street %><br>
            <strong>City:</strong> <%= address.city %><br>
            <strong>State:</strong> <%= address.state %><br>
            <strong>Zip Code:</strong> <%= address.zip_code %><br>
            <strong>Country:</strong> <%= address.country %><br>
          </div>

          <div class="mt-3">
            <%= link_to "Edit", edit_address_path(address), class: "btn btn-primary mr-2" %>
            
            <%= link_to "Destroy", address_path(address), method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-danger" %>
            
            <%= link_to "Set as Default", "/users/#{current_user.id}/#{address.id}", data: { turbo_method: :patch }, class: "btn btn-success" unless (address == @default_address) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No addresses found.</p>
  <% end %>

  <div class="mt-3">
    <%= link_to "New Address", new_address_path, class: "btn btn-primary" %>
  </div>
</div>
