<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: '0.01', min: '0' %>
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :quantity_available %><br>
    <%= form.number_field :quantity_available, min: '0', step: '1' %>
    <% product.errors.full_messages_for(:quantity_available).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.hidden_field :image, value: product.image.signed_id if product&.image&.attached? && product&.image&.persisted? %>
    <%= form.file_field :image, direct_upload: true, id: "image-input" %>
    <% product.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div> 

  <div id="image-preview-container">
    <% if product&.image&.attached? && product&.image&.persisted? %>
      <%# This is for edit page where record has attached image %>
      <span id='existing-image-preview'>
        <div>Existing Image</div>
        <%= image_tag product.image, size: "100x100" %>
        <%= link_to "Remove Image", "/products/#{product.id}/remove-image", 
        id: "remove-existing-image", data: {turbo_method: :delete} %>
      </span>
      <img id="new-image-preview" style="display: none; width: 100px; height: 100px;" />
    <% else %>
      <%# This is for new page %>
      <img id="new-image-preview" style="display: none; width: 100px; height: 100px;" />
    <% end %>
  </div>

  <div>
    <%= form.label "Select Category" %><br>
    <%= form.select :category_id, 
        options_for_select(@categories.pluck(:name, :id), product.category_id), include_blank: 'None'
    %>
    <% product.errors.full_messages_for(:category).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>  

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
    $(document).ready(function() {
      $('#image-input').change(function() {
        displayImagePreview(this, $('#new-image-preview'));
      });

      function displayImagePreview(input, preview) {
        if (input.files && input.files.length == 0) {
          // #image-input changed but no image selected.
          // So we can hide the  #image-preview
          preview.hide();
        }
        if (input.files && input.files[0]) {
          // #image-input changed and image selected.
          var reader = new FileReader();

          reader.onload = function(e) {
            preview.attr('src', e.target.result).show();
          };

          reader.readAsDataURL(input.files[0]);
        }
      }

      $('#remove-existing-image').click(function() {
        // Add ajax to call the api, now response is being redirected to edit page.
        $('#existing-image-preview').hide();
      })
    });
</script>
