<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: '0.01', min: '0' %>
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :quantity_available %><br>
    <%= form.number_field :quantity_available, min: '0', step: '1' %>
    <% product.errors.full_messages_for(:quantity_available).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.hidden_field :image, value: product.image.signed_id if product&.image&.attached? && product&.image&.persisted? %>
    <%= form.file_field :image, direct_upload: true %>
    <% product.errors.full_messages_for(:image).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div> 

  <div>
    <%= form.label "Select Category" %><br>
    <%= form.select :category_id, 
        options_for_select(@categories.pluck(:name, :id), product.category_id), include_blank: 'None'
    %>
    <% product.errors.full_messages_for(:category).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>  

  <div>
    <%= form.submit %>
  </div>
<% end %>
