<%= form_with model: product do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %><br>
    <%= form.text_field :name, class: 'form-control' %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %><br>
    <%= form.text_area :description, class: 'form-control' %>
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: 'form-label' %><br>
    <%= form.number_field :price, step: '0.01', min: '0', class: 'form-control' %>
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity_available, class: 'form-label' %><br>
    <%= form.number_field :quantity_available, min: '0', step: '1', class: 'form-control' %>
    <% product.errors.full_messages_for(:quantity_available).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <% if product&.images&.attached? && product&.images&.all?(&:persisted?) %>
    <%# This is for edit page where record has attached images %>
    <div id='existing-image-preview' class="mb-3">
      <p>Existing Images</p>
      <% product.images.each do |image| %>
        <%= image_tag image, size: "100x100", alt: "Image not found" %>
        <%= link_to "Remove Image", remove_image_product_path(@product, image_id: image.id),
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :images, class: 'form-label' %><br>
    <% if product&.images&.attached? && product&.images&.all?(&:persisted?) %>
      <% product.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>
    <% end %>
    <%= form.file_field :images, multiple: true, direct_upload: true, id: "image-input", class: 'form-control' %>
    <% product.errors.full_messages_for(:images).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">    
    <img id="new-image-preview" style="display: none; width: 100px; height: 100px;" />
  </div>  

  <div class="mb-3">
    <%= form.label "Select Category", class: 'form-label' %><br>
    <%= form.select :category_id, 
        options_for_select(@categories.pluck(:name, :id), product.category_id), include_blank: 'None', class: 'form-select' %>
    <% product.errors.full_messages_for(:category).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>  

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>


<script>
    $(document).ready(function() {
      $('#image-input').change(function() {
        displayImagePreview(this, $('#new-image-preview'));
      });

      function displayImagePreview(input, preview) {
        if (input.files && input.files.length == 0) {
          // #image-input changed but no image selected.
          // So we can hide the  #new-image-preview
          preview.hide();
        }
        if (input.files && input.files[0]) {
          // #image-input changed and image selected.
          var reader = new FileReader();

          reader.onload = function(e) {
            preview.attr('src', e.target.result).show();
          };

          reader.readAsDataURL(input.files[0]);
        }
      }

      $('#remove-existing-image').click(function() {
        // Add ajax to call the api, now response is being redirected to edit page.
      })
    });
</script>
