<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <% if @product.images.attached? %>
          <div id="productCarousel" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner">
              <% @product.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= image_tag image, size:"400x300", class: "d-block w-100" %>
                </div>
              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <%= image_tag 'products/product-default-image.jpeg', size:"400x300", alt: "Image not found", class: "d-block w-100" %>
        <% end %>

        <div class="mt-4">
          <h3 class="text-center"><%= @product.name %></h3>
          <p class="text-center"><%= number_to_currency(@product.price, unit: '₹', precision: 0, format: "%u%n") %></p>

          <div class="text-start">
            <%= @product.description %>
          </div>

          <% if current_user && current_user.customer? %>
            <div class="text-center mt-3">
              <%= link_to "Add to Cart", "/cart/#{@product.id}", data: { turbo_method: :post }, class: "btn btn-primary" %>
              <%= link_to "Buy Now", "#", class: "btn btn-success ms-2" %>
            </div>
          <% end %> 

          <% if current_user && current_user.admin? %>
            <div class="text-center mt-3">
              <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
              <%= link_to "Delete", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger ms-2" %>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</section>
